<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<!--
logback configuration to suppress detailed debug logging details from framework libraries
-->
<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- suppress logging to warning level -->
    <logger name="reactor.netty" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="io.rsocket" level="WARN"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>